@using Microsoft.AspNetCore.Identity
@using LowVision.Areas.Identity.Data
@using LowVision.Models 


@inject SignInManager<LowVisionUser> SignInManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blind & Low Vision NZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
</head>
<body style="background-color:#ffffff">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Blind & Low Vision NZ_Formerly_Stacked_RGB.png" style="width:200px; margin-left:auto" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donation">Donate</a>
                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="false">
                                            Manage
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                        </div>
                                    </li>
}

                        @if (User.IsInRole("User"))
                        {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donation">Donate</a>
                    </li>}
                    </ul>
                </div>
                <partial name="_LoginPartial.cshtml" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined("Scripts"))
    {
@RenderSection("Scripts", required: true)}

   









<footer id=footer-links class=site-footer style="background-color:black">
    <div class="flex-lg-wrap" id=wrapper-footer-links>
        <div class=container>
            <div class=row>
                <div class=col-12>
                       <div class=row>
                            <div id=site-footer-links>
                                <div class=menu-blind-foundation-footer-container>
                                    <ul id=menu-blind-foundation-footer class=menu>
                                        <li id=menu-item-19688 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19688">
                                            <a href=https://blindlowvision.org.nz/contact/contact-the-blind-low-vision-nz class="text-light">Contact us</a>
                                        </li>
                                        <li id=menu-item-19691 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19691">
                                            <a href=https://blindlowvision.org.nz/contact/locations class="text-light">Our locations</a>
                                        </li>
                                        <li id=menu-item-18070 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18070">
                                            <a href=https://blindlowvision.org.nz/about-us class="text-light">About</a>
                                        </li>
                                        <li id=menu-item-18059 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18059">
                                            <a href=https://blindlowvision.org.nz/how-we-can-help class="text-light">How we can help</a>
                                        </li>
                                        <li id=menu-item-18060 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18060">
                                            <a href=https://blindlowvision.org.nz/how-we-can-help/library class="text-light">Library</a>
                                        </li>
                                        <li id=menu-item-18057 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18057">
                                            <a href=https://blindlowvision.org.nz/shop class="text-light">Shop</a>
                                        </li>
                                        <li id=menu-item-18068 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18068">
                                            <a href=https://blindlowvision.org.nz/news-events/events class="text-light">Events</a>
                                        </li>
                                        <li id=menu-item-18069 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-18069">
                                            <a href=https://blindlowvision.org.nz/news-events/news>News &#038; Views</a><ul class=sub-menu>
                                                <li id=menu-item-25139 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25139">
                                                    <a href=https://careers-blindfoundation.force.com/s class="text-light">Careers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id=menu-item-19696 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19696">
                                            <a href=http://blindlowvision.org.nz/guide-dogs class="text-light">Guide Dogs</a>
                                        </li>
                                        <li id=menu-item-18067 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18067">
                                            <a href=https://blindlowvision.org.nz/get-involved class="text-light">Get involved</a>
                                        </li>
                                        <li id=menu-item-18058 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18058">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donation">Donate</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><div id=site-footer-social-links class=social-icons>
                                <div id=custom_html-2 class="widget_text footer-social-widget widget_custom_html widget-count-1 col-md-12">
                                    <div class="textwidget custom-html-widget">
                                        <div id=footer-social-heading>
                                            Follow us
                                        </div><div class=social-icons>
                                            <div id=footer-social-links>
                                                <a href=https://www.facebook.com/BlindLowVisionNZ/ class="text-light" target=_blank aria-label=Instagram>
                                                    <i class="fab fa-facebook fa-3x"></i>
                                                </a>
                                                <a href=https://www.instagram.com/BlindLowVisionNZ/ class="text-light" target=_blank aria-label=Instagram>
                                                    <i class="fab fa-instagram fa-3x"></i>
                                                </a>
                                                <a href=https://twitter.com/BlindLowVision class="text-light" target=_blank aria-label=Twitter>
                                                    <i class="fab fa-twitter fa-2x"></i>
                                                </a>
                                                <a href=https://www.youtube.com/c/BlindLowVisionNZ class="text-light" target=_blank aria-label=YouTube>
                                                    <i class="fab fa-youtube fa-3x"></i>
                                                </a>
                                                <a href=https://www.linkedin.com/company/blind-low-vision-nz class="text-light" target=_blank aria-label="Linked In">
                                                    <i class="fab fa-linkedin-square fa-3x"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id=footer-menu-contact>
                                    <div id=footer-phone-contact>
                                        <div class=phone-contact>
                                            <a href="tel:0800 24 33 33">
                                                <div class=site-phone-number>0800 24 33 33</div>
                                            </a>
                                        </div>
                                    </div>
                                </div><div id=final-footer-copyright-links>
                                    <div id=copyright>Copyright Blind Low Vision NZ 2020 &copy</div><div id=site-final-footer-links>
                                        <div class=menu-blind-foundation-footer-end-container>
                                            <ul id=menu-blind-foundation-footer-end class=menu>
                                                <li id=menu-item-18071 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18071">
                                                    <a href=https://blindlowvision.org.nz/about-us/terms-conditions>Terms &#038; Conditions</a>
                                                </li>
                                                <li id=menu-item-21165 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21165">
                                                    <a href=https://blindlowvision.org.nz/about-us/privacy>Privacy statement</a>
                                                </li>
                                                <li id=menu-item-19699 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19699">
                                                    <a href=https://blindlowvision.org.nz/sitemap>Sitemap</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><div class=row>
                                <div id=final-footer-copyright-links>
                                    <div id=copyright>
                                        Blind Low Vision NZ is registered in New Zealand. Our Charities Commission Registration number is <a href="https://register.charities.govt.nz/CharitiesRegister/ViewCharity?accountId=64c19b74-268a-dc11-98a0-0015c5f3da29&searchId=a3f4575b-e365-4f14-83c9-28db237fd7ac"> CC21361 </a>
                                    </div>
                                </div>
                            </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
 </footer>

                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="~/js/site.js" asp-append-version="true"></script>



</body>
</html>
